{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h2 class="text-white my-5">About Page</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eum mollitia. Nihil ad quo dolorum eum quibusdam fugit odio, ab aliquid ducimus quis obcaecati sapiente doloribus ullam repellat, ea doloremque.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur quis libero minima impedit perspiciatis quo non sint cupiditate dolores dicta quas, exercitationem vel quaerat quod. Perferendis ullam, dicta autem omnis voluptates magnam velit totam aperiam hic illo maxime officiis numquam, illum, accusantium amet voluptate recusandae quas. Repudiandae eum animi praesentium!</p>
</div>
{% endblock content %}